@page
@model Siyam_MiniAccountManagementSystem.Pages.ChartOfAccounts.DetailsModel

@{
    ViewData["Title"] = "Account Details";
}

<h1>Account Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4 m-2">
            @Html.DisplayNameFor(model => model.Account.AccountCode)
        </dt>
        <dd class="col-sm-4 m-2">
            @Html.DisplayFor(model => model.Account.AccountCode)
        </dd>
        <dt class="col-sm-4 m-2">
            @Html.DisplayNameFor(model => model.Account.AccountName)
        </dt>
        <dd class="col-sm-4 m-2">
            @Html.DisplayFor(model => model.Account.AccountName)
        </dd>
        <dt class="col-sm-4 m-2">
            @Html.DisplayNameFor(model => model.Account.AccountType)
        </dt>
        <dd class="col-sm-4 m-2">
            @Html.DisplayFor(model => model.Account.AccountType)
        </dd>
        <dt class="col-sm-4 m-2">
            @Html.DisplayNameFor(model => model.Account.ParentAccountName)
        </dt>
        <dd class="col-sm-4 m-2">
            @Html.DisplayFor(model => model.Account.ParentAccountName)
        </dd>
        <dt class="col-sm-4 m-2">
            @Html.DisplayNameFor(model => model.Account.IsActive)
        </dt>
        <dd class="col-sm-4 m-2">
            @Html.DisplayFor(model => model.Account.IsActive)
        </dd>
        <dt class="col-sm-4 m-2">
            @Html.DisplayNameFor(model => model.Account.CreatedDate)
        </dt>
        <dd class="col-sm-4 m-2">
            @Html.DisplayFor(model => model.Account.CreatedDate)
        </dd>
        <dt class="col-sm-4 m-2">
            @Html.DisplayNameFor(model => model.Account.UpdatedDate)
        </dt>
        <dd class="col-sm-4 m-2">
            @Html.DisplayFor(model => model.Account.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Account.AccountId" class="btn btn-primary">Edit Account</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>